html, body {
    margin: 0%;
    box-sizing: border-box;
    background-color: var(--lightLava);
}

:root{
    /*theme colors*/
    --gray: #596169;
    --textLight: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight:  #104f55;
    --lava: #e69f59;
    --lightLava: #ffd5ac;
    --midnightLower: #2d7177b6;
}

/*------------General Config--------------*/
h1{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--lightLava);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    text-align: justify;
}
/*----x-------General Config-----x--------*/


/*------------navbar--------------*/

#header-nav{
    background-color: var(--lava);
    border-radius: 0;
    border: 0;
    padding: 0; 

}
#header-nav .container-fluid{
    justify-content: space-between;
    padding: 0;
}
#header-nav .container-fluid a{
    color: var(--white);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
}

.navbar-toggler .fas{
    color: var(--white);
    font-size: 1.5rem;
    padding-right: 1rem;
    
}

#header-nav .navbar-nav{
    background-color: var(--white);
    
}


#header-nav .navbar-nav .nav-item a{
    color: var(--lava);
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
}

#header-nav .navbar-nav .nav-item:hover{
    background-color: var(--gray);
    transition: all 0.5s ease;
}

#header-nav .navbar-nav .nav-item a:hover{
    color: var(--white);
    transition: all 0.5s ease;
}



/*-----x------navbar-----x-------*/


/*------------ Header Section --------------*/

.header-section .container-fluid{
    padding: 0; 
    background-color: var(--lightLava);  
}

.header-section .container-fluid .row .col h1{
    padding: 1.5rem;
    color: var(--gray);
    font-weight: bold;
}

/*------x----- Header Section -------x------*/

/*------------ Main Section --------------*/
main{
    background-color: var(--lightLava);
}


.container h1{
    background-color: var(--midnight);
    color: var(--white);
    
}

.container .row{
    background-color: var(--midnight);
}

.container .row .col-md-4{
    border-left: 1rem solid var(--lightLava);
    padding: 1rem;
    height: 700px;
}

.container .row .col-sm-12{
    border-top: 1rem solid var(--lightLava);
    height: 700px;
    padding: 1rem;
}

.container .row .col-12{
    border-right: 1rem solid var(--lightLava);
    border-top: 1rem solid var(--lightLava);
    height: 700px;
    padding: 1rem;
}

main .bottom-section{
    padding-top: 2rem;
}
main .bottom-section .btn{
    background-color: var(--lava);
    outline-color: var(--lava);
    
}



/*------x------ Main Section -------x-------*/